@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family-poppins);
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-bg);
    transition: background var(--default-duration) ease;
}
/* ============= START HEADER ============= */
.header {
    height: var(--header-height);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header__container {
    height: 100%;
}

.header__logo {
    height: 60%;
}

/* navbar for large screens */

.header__link {
    padding-inline: calc(var(--padding-1) / 1.5);
    text-transform: capitalize;
    color: var(--text-dark);
    cursor: pointer;
}

.header__link a {
    transition: color var(--default-duration) ease;
}

.header__link a:hover,
.header__link a.active {
    color: var(--accent-color);
}

.color-theme {
    padding-left: var(--padding-1);
    font-size: var(--font-size-1-5);
    color: var(--text-dark);
    cursor: pointer;
    transition: color var(--default-duration) ease;
}

.header__links-mobile {
    display: none;
}

/* navbar for small screens */

@media screen and (max-width: 992px) {
    .header__links {
        display: none;
    }
    .header__links-mobile {
        display: flex;
        position: fixed;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 400px;
        height: 70px;
        background-color: var(--body-bg);
        border-radius: var(--border-8);
        box-shadow: var(--shadow-black-20);
        transition: opacity var(--default-duration) ease, bottom var(--default-duration) ease;
    }
    .header__links-mobile ul {
        width: 100%;
        max-width: 350px;
        height: 100%;
    }

    .header__link-mobile {
        width: 100%;
        max-width: 70px;
        height: 100%;
        text-transform: capitalize;
        color: var(--text-dark);
        z-index: 10;
    }
    .header__link-mobile p {
        position: absolute;
        transform: translateY(40px);
        font-size: calc(var(--font-size-1) / 1.4);
        font-weight: var(--font-medium);
        opacity: 0;
        pointer-events: none;
        transition: opacity var(--default-duration) ease, transform var(--default-duration) ease;
    }
    .header__link-mobile i {
        font-size: calc(var(--font-size-1-5) * 1.2);
    }
    .header__link-mobile a.active {
        color: var(--accent-color);
    }
    .header__link-mobile a.active p {
        transform: translateY(28px);
        opacity: 1;
        pointer-events: all;
    }
    .header__links-mobile.hide {
        opacity: 0;
        z-index: -1;
        pointer-events: none;
        bottom: 0;
    }
}

@media screen and (max-width: 450px) {
    .header__links-mobile {
        max-width: 330px;
    }
    .header__link-mobile:nth-child(6) {
        display: none;
    }
}
@media screen and (max-width: 350px) {
    .header__links-mobile {
        max-width: 280px;
    }
    .header__link-mobile:nth-child(5) {
        display: none;
    }
}

/* ============= END HEADER ============= */

/* ============= START HOME SECTION ============= */
.home {
    min-height: var(--full-view-height);
    position: relative;
}

.home__container {
    height: 100%;
}

.home__content {
    width: 100%;
}

.home__title,
.home__subtitle {
    color: var(--text-dark);
}

.home__subtitle span {
    color: var(--accent-color);
}

.home__text {
    color: var(--text-alt-1);
}

.home__social-link {
    color: var(--accent-color);
}

.home__image {
    width: 100%;
}

.home__image img {
    width: 400px;
}

.scroll-down-btn {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
}

svg#scroll-down:hover circle {
    animation: scrollDown 0.7s infinite linear;
}

@keyframes scrollDown {
    to {
        transform: translateY(7px);
    }
}

@media screen and (max-width: 992px) {
    .home__content {
        padding-block: var(--header-height);
        flex-direction: column-reverse;
        align-items: normal;
    }
    .scroll-down-btn {
        display: none;
    }
}

@media screen and (max-width: 418px) {
    .home__image {
        justify-content: center;
    }
    .home__image img {
        max-width: 270px;
        width: 100%;
    }
}

/* ============= END HOME SECTION ============= */

.section__title {
    position: relative;
    color: var(--text-dark);
    width: fit-content;
    margin-inline: auto;
}

.section__title::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 5px;
    left: 0;
    bottom: 0;
    background-color: var(--accent-color);
}

/* ============= START ABOUT SECTION ============= */
.about {
    position: relative;
    padding-block: var(--header-height);
    min-height: var(--full-view-height);
}

.about__container {
    padding-top: calc(var(--padding-3) * 2);
}

.about__left-side {
    width: 100%;
    max-width: 500px;
}

.about__image {
    border-radius: var(--border-10);
    overflow: hidden;
}

.about__right-side {
    width: 100%;
    max-width: 510px;
}

.about__title {
    color: var(--text-dark);
}

.about__title span {
    color: var(--accent-color);
}

.about__text {
    color: var(--text-alt-1);
}

.about__info h4 {
    color: var(--accent-color);
}

.about__info p {
    width: 90px;
    color: var(--text-alt-1);
}

@media screen and (max-width: 992px) {
    .about__content {
        flex-direction: column;
    }
}

/* ============= END ABOUT SECTION ============= */

/* ============= START SKILLS SECTION ============= */
.skills {
    position: relative;
    min-height: var(--full-view-height);
    padding-block: var(--header-height);
}

.skills__container {
    padding-top: calc(var(--padding-3) * 2);
}

.skills__content {
    row-gap: 5rem;
}

.skills__subtitle {
    position: relative;
    width: fit-content;
    color: var(--text-dark);
    margin-bottom: var(--margin-3);
}

.skills__subtitle::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 70px;
    background-color: var(--accent-color);
}

/* Skills & Tools */

.skill {
    flex-basis: 350px;
}

.skill i {
    color: var(--accent-color);
}

.skill__header {
    margin-bottom: var(--margin-1);
    cursor: pointer;
}

.skill__title {
    color: var(--text-dark);
}

.skill__text {
    color: var(--text-alt-1);
}

.skill__body {
    padding-left: var(--padding-2);
    overflow: hidden;
    transition: height var(--default-duration) ease;
}

.skill__tool {
    margin-top: var(--margin-1);
}

.skill__tool-name {
    color: var(--text-dark);
}

.skill__tool-value {
    color: var(--text-alt-1);
}

.skill__tool-progressbar {
    width: 100%;
    height: 7px;
    background-color: var(--gray-70);
    border-radius: var(--border-rounded);
}

.skill__tool-progressbarvalue {
    display: block;
    height: 100%;
    background-color: var(--accent-color);
    border-radius: var(--border-rounded);
}

.accordion.collapsed .accordion__content {
    height: 0;
}

.accordion.extended .arrow {
    transform: rotate(180deg);
}

@media screen and (max-width: 752px) {
    .skill {
        flex-basis: 100%;
    }
}

/* Education & Experience */
.timeline {
    width: 50%;
}

.timeline__title {
    color: var(--text-dark);
    margin-bottom: var(--margin-1);
}

.timeline__items {
    border-left: 2px solid var(--gray-80);
    width: 100%;
}

.timeline__item {
    position: relative;
    padding-left: calc(var(--padding-1) * 1.5);
}

.timeline__marker {
    position: absolute;
    left: 0;
    width: calc(var(--padding-1) * 1.5);
    height: 100%;
}

.timeline__marker::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 17px;
    width: 17px;
    transform: translate(-50%, -50%);
    border: 3px solid var(--accent-color);
    border-radius: var(--border-circle);
    background-color: var(--white-100);
    z-index: 5;
}

.timeline__marker::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--accent-color);
    transform: translateY(-50%);
    z-index: 4;
}

.timeline__content {
    row-gap: 0.5rem;
    padding: calc(var(--padding-1) * 1.5);
    width: 100%;
    border-radius: var(--border-10);
    box-shadow: var(--shadow-black-20);
}

.timeline__date,
.timeline__desc,
.timeline__major span {
    color: var(--text-alt-1);
}

.timeline__major {
    color: var(--accent-color);
}

@media screen and (max-width: 992px) {
    .skills__wrapper {
        flex-wrap: wrap;
    }
    .timeline {
        width: 100%;
    }
}

/* ============= END SKILLS SECTION ============= */

/* ============= START PORTFOLIO SECTION ============= */
.portfolio {
    position: relative;
    min-height: var(--full-view-height);
    padding-block: var(--header-height);
}

.portfolio__container {
    padding-top: calc(var(--padding-3) * 2);
}

.project {
    position: relative;
    flex-basis: 340px;
    flex-grow: 1;
    height: 260px;
    border-radius: var(--border-10);
    overflow: hidden;
    box-shadow: var(--shadow-black-20);
}

.project::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--overlay-linear);
    opacity: 0;
    transition: opacity var(--default-duration) ease;
}

.project__image {
    width: 100%;
    height: 100%;
}

.project__details {
    position: absolute;
    padding: var(--padding-1);
    bottom: 0;
    opacity: 0;
    transform: translateY(20px);
    transition: all var(--default-duration) ease;
}

.project__title {
    text-transform: capitalize;
    color: var(--white-100);
}
.project__subtitle {
    text-transform: capitalize;
    color: var(--gray-80);
}

.project__link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    background-color: var(--accent-color);
    border-radius: var(--border-circle);
    transform: translate(-50%, -50%);
    font-size: calc(var(--font-size-1) * 1.2);
    color: var(--white-100);
    opacity: 0;
    z-index: 10;
    transition: opacity var(--default-duration) ease;
}

.project:hover::before,
.project:hover .project__link {
    opacity: 1;
}

.project:hover .project__details {
    opacity: 1;
    transform: translateY(0px);
}

/* ============= END PORTFOLIO SECTION ============= */

/* ============= START SERVICES SECTION ============= */
.services {
    position: relative;
    min-height: var(--full-view-height);
    padding-block: var(--header-height);
}

.services__container {
    padding-top: calc(var(--padding-3) * 2);
}

.service {
    position: relative;
    flex-basis: 340px;
    height: 450px;
    border-radius: var(--border-10);
    overflow: hidden;
    box-shadow: var(--shadow-black-20);
}

.service::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--overlay-linear);
    z-index: 1;
}

.service__image {
    width: 100%;
    height: 100%;
}

.service__details {
    position: absolute;
    padding: 0 var(--padding-1) var(--padding-3);
    bottom: 0;
    z-index: 10;
}

.service__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: var(--border-10);
    background-color: var(--accent-color);
    font-size: var(--font-size-2-5);
    color: var(--white-100);
}

.service__title {
    text-transform: capitalize;
    color: var(--white-100);
}

.service__more {
    column-gap: 0.5ch;
    color: var(--gray-80);
    cursor: pointer;
}

.service__btmsheet {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: var(--padding-1);
    background: rgba(0, 0, 0, 0.7);
    border-radius: var(--border-10);
    user-select: none;
    z-index: 20;
}

.service__btmsheet-dragicon {
    display: block;
    margin-inline: auto;
    width: 50px;
    height: 5px;
    flex-shrink: 0;
    background-color: var(--gray-80);
    border-radius: var(--border-rounded);
    cursor: grab;
}

.service__btmsheet-title {
    margin-block: var(--margin-1);
    color: var(--white-100);
}

.service__btmsheet-text {
    font-weight: var(--font-regular);
    color: var(--gray-70);
    overflow: auto;
}

.service__btmsheet-text::-webkit-scrollbar {
    width: 5px;
}

.service__btmsheet-text::-webkit-scrollbar-thumb {
    background-color: var(--gray-80);
    border-radius: var(--border-rounded);
}

/* ============= END SERVICES SECTION ============= */

/* ============= START CTA SECTION ============= */
.cta {
    position: relative;
    padding-block: var(--header-height);
}

.cta__bg {
    background: var(--cta-linear);
}

.cta__content {
    border-radius: var(--border-10);
    padding: var(--padding-3) var(--padding-2);
    box-shadow: var(--shadow-black-20);
}

.cta__title {
    color: var(--text-dark);
    margin-bottom: var(--margin-1);
}

.cta__subtitle {
    color: var(--text-alt-1);
}

.cta__btn {
    white-space: nowrap;
}

/* ============= END CTA SECTION ============= */

/* ============= START TESTIMONIALS SECTION ============= */
.testimonials {
    position: relative;
    min-height: var(--full-view-height);
    padding-block: var(--header-height);
}

.testimonials__container {
    padding-top: calc(var(--padding-3) * 2);
}

.testimonials__content {
    position: relative;
}

.testimonials__slider {
    width: 80%;
}

.testimonials__slide-comment {
    padding-bottom: var(--padding-1);
    border-bottom: 2px solid var(--gray-80);
    color: var(--text-alt-1);
}

.testimonials__slide-comment .double-qoutes {
    position: relative;
    width: 100px;
    height: auto;
    top: 40px;
    z-index: -1;
}

.testimonials__slide-pic {
    width: 100px;
    height: 100px;
    border-radius: var(--border-10);
    overflow: hidden;
    flex-shrink: 0;
}

.testimonials__slide-title {
    color: var(--text-dark);
}

.testimonials__slide-subtitle {
    color: var(--text-alt-1);
}

.testimonials__btn-left,
.testimonials__btn-right {
    width: 70px;
    height: 70px;
    background-color: transparent;
    color: var(--accent-color);
    font-size: calc(var(--font-size-3) * 1.3);
}

:where(.testimonials__btn-left, .testimonials__btn-right)::after {
    display: none;
}

:where(.testimonials__btn-left, .testimonials__btn-right):hover {
    color: var(--blue-75);
}

.testimonials__slider-pagination {
    position: relative !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--accent-color);
}

@media screen and (max-width: 768px) {
    .testimonials__btn-left,
    .testimonials__btn-right {
        display: none;
    }
}

/* ============= END TESTIMONIALS SECTION ============= */

/* ============= START CONTACT SECTION ============= */
.contact {
    position: relative;
    min-height: var(--full-view-height);
    padding-block: var(--header-height);
}

.contact__container {
    padding-top: calc(var(--padding-3) * 2);
}

.contact__info-item i {
    color: var(--accent-color);
}

.contact__title {
    color: var(--text-dark);
    text-transform: capitalize;
}

.contact__subtitle {
    color: var(--text-alt-1);
}

.form__group {
    position: relative;
}

.form__label {
    position: absolute;
    top: calc(var(--control-height) / 2);
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--body-bg);
    padding-inline: 5px;
    text-transform: capitalize;
    color: var(--text-dark);
    transition: all var(--default-duration) ease;
}

.form__label.focus {
    top: 0;
    font-size: calc(var(--font-size-1) / 1.3);
}

.form__input {
    width: 100%;
}

textarea.form__input {
    resize: vertical;
    padding-block: 5px;
    min-height: 150px;
}

.form__status-box {
    color: var(--text-alt-1);
}

@media screen and (max-width: 992px) {
    .contact__info-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .form,
    .form__group {
        width: 100%;
    }
}
/* ============= END CONTACT SECTION ============= */

/* ============= START FOOTER ============= */
.footer {
    background: var(--footer-linear);
    padding-top: calc(var(--padding-3) * 1.3);
}

.footer__container {
    padding-bottom: calc(var(--padding-3) * 1.3);
}

.footer__title,
.footer__subtitle,
.footer__social-link {
    color: var(--white-100);
}

.footer__copyRight {
    padding-bottom: var(--padding-1);
    text-align: center;
    color: var(--white-100);
}

.footer__copyRight span {
    color: var(--darkBlue-100);
}

/* ============= END FOOTER ============= */

/* ============= SCROLL UP BUTTON ============= */
.scroll-up {
    position: fixed;
    bottom: 10px;
    right: 15px;
    width: var(--control-height);
    font-size: var(--font-size-1-5);
    box-shadow: 0 3px 5px var(--black-100-alpha-20);
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: all var(--default-duration) ease;
}

@media screen and (min-width: 768px) {
    .scroll-up.show {
        bottom: 15px;
        opacity: 1;
        z-index: 100;
        pointer-events: all;
    }
}

/* ============= DARK MODE ============= */

[data-theme="dark"] {
    --body-bg: var(--darkBlue-100);
    --text-dark: var(--white-100);
    --text-alt-1: var(--gray-80);
}
